body{
    background-color: rgba(4, 0, 82, 0.91);
}
#titulo{
    border-radius: 7px;
    border: style double 7px;
    border: bottom 10px;
    background-color: rgba(6, 170, 170, 0.889);
    
}
#texto{
    border-radius: 7px;
    background-color: darkcyan;
    font-family:'Courier New', Courier, monospace;
}
